version: "3.9"

services:
  web:
    build: .
    container_name: crud_redis 
    command: gunicorn crud_redis.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"


  redis:
    image: redis:7-alpine
    container_name: django_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

volumes:
  redis_data: